<section class="register">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-6 bg-light p-3 my-3 shadow">
        <img
          src="../../assets/logo-chu-X-x_logo_2x-2-removebg.png"
          alt=""
          srcset=""
          width="200"
          height="100"
          class="rounded mx-auto d-block"
        />
        <h1 class="text-center text-uppercase py-3">Lấy Lại Mật Khẩu</h1>
        <h5 class="text-center">Tài Khoản: {{taiKhoan}}</h5>
        <div ng-form="formLayLaiMatKhau">
          <!--Mật Khẩu -->
          <label for="password-old">Tên Tài Khoản</label>
          <input
            ng-model="tenDangNhap"
            type="text"
            class="form-control mt-2 mb-3"
            required="true"
            name="tenDangNhap"
          />
          <span
            ng-show="formLayLaiMatKhau.tenDangNhap.$error.required"
            style="color: red"
            >Yêu Cầu Nhập Tên Tài Khoản</span
          >
          <!--Mật Khẩu Mới -->
          <div class="d-flex justify-content-center">
            <label for="" class="mt-2"
              ><a href="#login" style="text-decoration: none"
                >Đăng Nhập</a
              ></label
            >
          </div>

          <!--  -->
          <div class="d-grid gap-2">
            <input
              ng-disabled="formLayLaiMatKhau.$invalid"
              type="submit"
              value="Lấy Mật Khẩu"
              class="btn-primary btn btn-block"
              ng-click="layLaiMatKhau($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
